@charset "UTF-8";

*{
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

html{
	-webkit-tap-highlight-color:rgba(0,0,0,0);                  /* 去除透明覆盖层和虚框 */
	zoom:1;
}

html,body{
	width:100%;
	height:100%;
}

body {
	position:relative;
	word-break: break-all;
    word-wrap: break-word;
    vertical-align: baseline;                                   /* 基础行 */
	 text-rendering:auto;                                       /* 控制在线字体优化 */
    -webkit-user-drag:none;                                     /* 禁止拖入输入框 */                                       
    -webkit-user-select:none;                                   /* 禁止用户选择 */
    -webkit-touch-callout:none;                                 /* 禁止长按弹出菜单 */
    -webkit-appearance:normal;                                  /* 1.HTML元素渲染风格 2.去除怪异阴影 */
    -webkit-overflow-scrolling:touch;                           /* 允许独立的滚动区域和触摸回弹 ipnone */
	-ms-content-zooming: none;                                  /* 缩放启用 */
    -webkit-text-size-adjust:none;                              /* 禁用页面字体缩放 只在meta viewport生效 跟随设备大小调整 */
	-moz-osx-font-smoothing: grayscale;                         /* 优化moz抗锯齿 */
    -webkit-font-smoothing: antialiased;                        /* 优化字体平滑-webkit内核 */
	font:14px/1.5 'Microsoft Yahei',Arial;
}

input,select,textarea {
	font-size:100%;
	border:0
}
input {
	outline:none
}
input[type="checkbox"] {
	-webkit-appearance:none
}
input[type="button"] {
	-webkit-appearance:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
img{
    width: 100%;
}
fieldset,img {											/* fieldset组合表单 */
	border:0
}
abbr,acronym {											/* abbr标记文本 title="hello" */
	border:0;
	font-variant:normal
}
del {
	text-decoration:line-through
}
address,caption,cite,code,dfn,em,th,var {				/* 文本标签：address联系信息，cite斜体 code计算机短码  */
	font-style:normal;									/* dnf格式化文本 em强调 var短语定义变量 cite斜体 */
	font-weight:500
}
ol,ul {
	  list-style:none
}
caption,th {											/* 表单行上的标题 */
	text-align:left
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500
}
q:before,q:after {
	content:''
}
sub,sup {												
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {													/* 文本向上行内小字体  */
	top:-0.5em
}
sub {													/* 文本向上行内小字体  */
	bottom:-0.25em
}
a:hover {
	text-decoration:none
}
a:link{
	color:none;
}
.lf{
	float:left
}
.rt{
	float:right
}
ins,a {													/* 带有已删除的文本显示 */
	text-decoration:none
}
.clear{
   *zoom:1;
}
.clear:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
